/* Hintergrund*/
body {
    background-image: url('/src/Background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover, contain;
    background-position: center;

  }

#query {
    /*some other code like positioning*/
    background-color: rgba(255, 255, 255, 0.726);
    font-style: ;
}
/* Searchbar */
form {
  text-align: center;
}
/* Head line */
h1 {
  color: white;
  text-align: center;
  ;
}
/* Icons */
div {
  text-align: center;
  margin-top: 5%;
}
/* Taschenrechner*/
.calc_keys{
  display: grid;
}